@theme {
  /* Title */
  --text-title-xs: 14px;
  --text-title-xs--line-height: 19px;
  --text-title-xs--font-weight: 600;

  --text-title-sm: 15px;
  --text-title-sm--line-height: 20px;
  --text-title-sm--font-weight: 600;

  --text-title-default: 18px;
  --text-title-default--line-height: 23px;
  --text-title-default--font-weight: 600;

  --text-title-lg: 22px;
  --text-title-lg--line-height: 28px;
  --text-title-lg--font-weight: 600;

  /* Body */
  --text-body-sm: 13px;
  --text-body-sm--line-height: 17px;
  --text-body-sm--font-weight: 400;

  --text-body-default: 14px;
  --text-body-default--line-height: 19px;
  --text-body-default--font-weight: 400;

  --text-body-bold: 14px;
  --text-body-bold--line-height: 19px;
  --text-body-bold--font-weight: 600;

  /* Tag */
  --text-tag-default: 13px;
  --text-tag-default--line-height: 16px;
  --text-tag-default--font-weight: 500;

  /* Label */
  --text-label-sm: 13px;
  --text-label-sm--line-height: 16px;
  --text-label-sm--font-weight: 500;

  --text-label-default: 14px;
  --text-label-default--line-height: 17px;
  --text-label-default--font-weight: 500;

  --text-label-bold: 14px;
  --text-label-bold--line-height: 17px;
  --text-label-bold--font-weight: 600;

  /* Time */
  --text-time-default: 13px;
  --text-time-default--line-height: 16px;
  --text-time-default--font-weight: 400;

  /* Meta  */
  --text-meta-xs: 13px;
  --text-meta-xs--line-height: 16px;
  --text-meta-xs--font-weight: 400;

  --text-meta-sm: 14px;
  --text-meta-sm--line-height: 19px;
  --text-meta-sm--font-weight: 500;

  --text-meta-lg: 22px;
  --text-meta-lg--line-height: 28px;
  --text-meta-lg--font-weight: 600;

  --text-meta-xl: 36px;
  --text-meta-xl--line-height: 44px;
  --text-meta-xl--font-weight: 600;

  /* Caption */
  --text-caption-default: 12px;
  --text-caption-default--line-height: 18px;
  --text-caption-default--font-weight: 400;
}

@theme inline {
  --font-family-sans:
    "Pretendard", -apple-system, system-ui, Roboto, "Helvetica Neue",
    "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
    "맑은 고딕", sans-serif !important;
}
