# Dependencies
node_modules
**/node_modules

# Build outputs
dist
.next
.turbo

# Development
*.log
.env
.env.*
!.env.example

# IDE
.idea
.vscode
*.swp
*.swo

# Test
coverage
.nyc_output

# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Misc
README.md
*.md
